<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NBA Plan - Rules of the Game</title>
</head>
<body>

    <h1>NBA Plan - Rules of the Game</h1>

    <h2>Predictions</h2>
    Pick the winners of each series in the NBA Playoffs and the number of games you think it will take your team to clinch the series.  You can modify your pick at any point, although doing so will reduce the potential points for that series.

    <h2>Scoring</h2>
    You will get 7 points for making a correct prediction for a series.  You will lose a point for changing your prediction after games have been played.  For example, if you change your pick after game 3, you would only score 5 points.
    You can get 3 additional points for correctly selecting the games to clinch.  You will lose one point for the difference between the number of games you picked and the actual games to clinch.  
    You can get bonus points by selecting an underdog to win, the bonus points are equal to the difference in the rankings. For example, if you pick a 7 seed to beat a 2 seed, you can get an additional 5 points.

    <h2>NBA Champion</h2>
    You will predict the NBA champion.  You can modify your pick before each round, but you will lose potential points with each later round.  
    If you pick the NBA champion correctly before Round 1, you can score 30 bonus points (1 in 16 chance).
    If you modify the NBA champion before Round 2, you can score 20 bonus points (1 in 8 chance).
    If you modify the NBA champion before Round 3, you can score 10 bonus points (1 in 4 chance).

    <h2>Dark Horse</h2>
    You will also predict a 6 seed or lower as your dark horse.  You will be awarded 3 bonus points for every win your Dark Horse scores.
</body>
</html>
